@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FFFCF2;
}

@layer base {
  .font-general {
    font-family: var(--font-generalSans);
  }

  .hero_title {
    font-family: var(--font-generalSans);
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-generalSans);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;

    @apply font-bold;
    @apply uppercase;
  }

  p,
  a,
  span {
    font-family: var(--font-clashGrotesk);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    @apply text-base;
  }

  .outline_lg {
    -webkit-text-stroke: 5px black;
  }

  .outline_sm {
    -webkit-text-stroke: 2px black;
  }

  .word {
    transition: transform 0.5s;
    display: inline-block;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 5s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
